#Datetime Module training

## Day-1

In [ ]:
!pip install pygrok
import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pygrok
  Downloading pygrok-1.0.0.tar.gz (18 kB)
Requirement already satisfied: regex in /usr/local/lib/python3.8/dist-packages (from pygrok) (2022.6.2)
Building wheels for collected packages: pygrok
  Building wheel for pygrok (setup.py) ... done
  Created wheel for pygrok: filename=pygrok-1.0.0-py3-none-any.whl size=21743 sha256=1b4beeaa1c864f15c15505944c2519868e828d07f51ecd44f72953157a744183
  Stored in directory: /root/.cache/pip/wheels/4b/88/a1/4a22a23aa70976276e6e68894a14f4f5c29426d7f2004d8a0c
Successfully built pygrok
Installing collected packages: pygrok
Successfully installed pygrok-1.0.0

In [ ]:
#dir(datetime)

In [ ]:
#help(datetime)

In [ ]:
#date1 = input("Enter date")
#print(date1)

In [ ]:
mydate = "1966/12/10"
date1 = datetime.datetime.strptime(mydate, "%Y/%m/%d")
print(date1)

1966-12-10 00:00:00

In [ ]:
year1 = date1.year

In [ ]:
print(year1)

1966

### 1- Check if leap year

In [ ]:
def isleap(year1):   
	if(year1 % 4 == 0):   
		print("Year is leap");  
	else:  
		print ("Year is not leap")  
isleap(year1)

Year is not leap

## Day-2

### 2a - Convert a date string into date object

In [ ]:
def dateobject(strdate):
	date1 = datetime.datetime.strptime(strdate, "%Y/%m/%d %H:%M:%S")
	print(type(date1))
	print(date1)
dateobject("1966/12/10 10:12:00")

<class 'datetime.datetime'>
1966-12-10 10:12:00

### 2b - Convert string of any format to datetime object

In [ ]:
from dateutil import parser

def dateobject1(strdate):
	date2 = parser.parse(strdate)
	print("New date format:",date2)
	print(type(date2))
 
dateobject1("1966/12/10 10:12:00")

New date format: 1966-12-10 10:12:00
<class 'datetime.datetime'>

### 3 - Convert datetime object into string

In [ ]:

def dateobject3():
	strdate = datetime.datetime.now()
	date3 = strdate.strftime("%d/%m/%Y")
	print("New date format:",date3)
	print(type(date3))
 
dateobject3()

New date format: 16/12/2022
<class 'str'>

### 4 - Difference between dates in seconds

In [ ]:
def dateobject4(strdate):
	dtobject = datetime.datetime.strptime(strdate, '%Y/%m/%d %H:%M:%S')
	currenttime = datetime.datetime.now()
	difference = currenttime - dtobject
	diff_seconds= difference.days * (24 * 60 * 60) + difference.seconds
	print("Difference between the dates seconds:",diff_seconds)
 
dateobject4('2022/12/11 10:12:00')

Difference between the dates seconds: 409137

### 5 - Convert Unix time into datetime object

In [ ]:
def dateobject5():
	datetimeunix = datetime.datetime.fromtimestamp(1670753520) # Unix Time
	print("Datetime object: ",datetimeunix)

dateobject5()

Datetime object:  2022-12-11 10:12:00

### 6 - Convert datetime object into Unix time

In [ ]:
def dateobject6(strdate):
	dtobject = datetime.datetime.strptime(strdate, '%Y/%m/%d %H:%M:%S')
	datetimeunix = dtobject.timestamp()
	print("Datetime object: ",dtobject)
	print("Converted into Unix time: ",datetimeunix)

dateobject6('2022/12/11 10:12:00')

Datetime object:  2022-12-11 10:12:00
Converted into Unix time:  1670753520.0

## Day - 3

### 7 - Convert timezone of a datetime object

In [ ]:
import pytz
def dateobject6(strdate, tzone, newtzone):
	oldtz = pytz.timezone(tzone)
	newtz = pytz.timezone(newtzone)
	dtobject = datetime.datetime.strptime(strdate, '%Y/%m/%d %H:%M:%S')
	localized_timestamp = oldtz.localize(dtobject)
	new_timezone_timestamp = localized_timestamp.astimezone(newtz)
	print("Local timestamp: ",localized_timestamp)
	print("Converted timestamp: ",new_timezone_timestamp)

dateobject6('2022/12/11 10:12:00','US/Eastern','US/Pacific')

Local timestamp:  2022-12-11 10:12:00-05:00
Converted timestamp:  2022-12-11 07:12:00-08:00

### 8a - Read CSV and export data in json format

In [ ]:
import json
import logging

filename = '11. apache_logs.txt'
 
def dateobject7(filename):
	dict1 = {}
	with open(filename) as fh:
		for line in fh:
			command, description = line.strip().split(None, 1)
			dict1[command] = description.strip()
	out_file = open("test1.json", "w")
	json.dump(dict1, out_file, indent = 4, sort_keys = False)
	out_file.close()

dateobject7(filename)

### 8b - Adapter method to loads different files and convert to json

In [ ]:

class fileCSV():
    "Loads CSV"
    
    def loadcsv(filename):
        filename = '11. apache_logs.txt'
        print("loads csv")
        dict1 = {}
        with open(filename) as fh:
            for line in fh:
                command, description = line.strip().split(None, 1)
                dict1[command] = description.strip()
        out_file = open("test1.json", "w")
        json.dump(dict1, out_file, indent = 4, sort_keys = False)
        out_file.close()
        print("converted to json:",out_file.name)

class filetxt():
    "Loads txt"

    def loadstxt(filename):
        filename = '11. apache_logs.txt'
        print("loads txt")
        dict1 = {}
        with open(filename) as fh:
            for line in fh:
                command, description = line.strip().split(None, 1)
                dict1[command] = description.strip()
        out_file = open("test1.json", "w")
        json.dump(dict1, out_file, indent = 4, sort_keys = False)
        out_file.close()    
        print("converted to json:",out_file.name)

class CSVTXTAdapter():
    "loads xml if csv is not available"

    def __init__(self):
        self.filetxt = filetxt()

    def loadcsv(self):
        "calls the class filetxt method loadstxt instead"
        self.filetxt.loadstxt()

# The Client
# Before the adapter I need to test the objects class to know which
# method to call.
ITEMS = [fileCSV(), filetxt()]
for item in ITEMS:
    if isinstance(item, filetxt):
        item.loadstxt()
    else:
        item.loadcsv()

# After creating an adapter for ClassB I can reuse the same method
# signature as ClassA (preferred)
ITEMS = [fileCSV(), CSVTXTAdapter()]
for item in ITEMS:
    item.loadcsv()

loads csv
converted to json: test1.json
loads txt
converted to json: test1.json
loads csv
converted to json: test1.json
loads txt
converted to json: test1.json

In [ ]:


from typing import Callable, TypeVar

T = TypeVar("T")


class Dog:
    def __init__(self) -> None:
        self.name = "Dog"

    def bark(self) -> str:
        return "woof!"


class Cat:
    def __init__(self) -> None:
        self.name = "Cat"

    def meow(self) -> str:
        return "meow!"


class Human:
    def __init__(self) -> None:
        self.name = "Human"

    def speak(self) -> str:
        return "'hello'"


class Car:
    def __init__(self) -> None:
        self.name = "Car"

    def make_noise(self, octane_level: int) -> str:
        return f"vroom{'!' * octane_level}"


class Adapter:
    """Adapts an object by replacing methods.

    Usage
    ------
    dog = Dog()
    dog = Adapter(dog, make_noise=dog.bark)
    """

    def __init__(self, obj: T, **adapted_methods: Callable):
        """We set the adapted methods in the object's dict."""
        self.obj = obj
        self.__dict__.update(adapted_methods)

    def __getattr__(self, attr):
        """All non-adapted calls are passed to the object."""
        return getattr(self.obj, attr)

    def original_dict(self):
        """Print original object dict."""
        return self.obj.__dict__


def main():
    """
    >>> objects = []
    >>> dog = Dog()
    >>> print(dog.__dict__)
    {'name': 'Dog'}

    >>> objects.append(Adapter(dog, make_noise=dog.bark))

    >>> objects[0].__dict__['obj'], objects[0].__dict__['make_noise']
    (<...Dog object at 0x...>, <bound method Dog.bark of <...Dog object at 0x...>>)

    >>> print(objects[0].original_dict())
    {'name': 'Dog'}

    >>> cat = Cat()
    >>> objects.append(Adapter(cat, make_noise=cat.meow))
    >>> human = Human()
    >>> objects.append(Adapter(human, make_noise=human.speak))
    >>> car = Car()
    >>> objects.append(Adapter(car, make_noise=lambda: car.make_noise(3)))

    >>> for obj in objects:
    ...    print("A {0} goes {1}".format(obj.name, obj.make_noise()))
    A Dog goes woof!
    A Cat goes meow!
    A Human goes 'hello'
    A Car goes vroom!!!
    """


if __name__ == "__main__":
    import doctest

    doctest.testmod(optionflags=doctest.ELLIPSIS)

### 9b - Load logs into json file using Grok

In [ ]:
from pygrok import Grok
filename = '11. apache_logs.txt'
out_file = open("grokfile.json", "w")
def dateobject8(filename):
	with open(filename) as fh:
		for text in fh:
			pattern = '%{IP:ip} - - \[%{HTTPDATE:timestamp}\] "%{WORD:verb} %{DATA:request}" %{NUMBER:status} %{NUMBER:bytes} "%{URI:uri}"'
			#pattern = '%{IP:ip:int} – – \[%{HTTPDATE:timestamp}\] "%{WORD:verb} %{DATA:request}" %{NUMBER:status} %{NUMBER:bytes}"%{DATA:referrer}"%{DATA}\(%{WORD};%{DATA}; %{WORD:os}'
			grok = Grok(pattern)
			g = grok.match(text)
			json.dump(g, out_file, indent = 4, sort_keys = False)
			#print(g)  

dateobject8(filename)
out_file.close()

In [ ]:
func = lambda x: x+5
print(func(2))

func1 = lambda x, y: x+y
print(func1(2,2))

a = [1,4,6,7,8,11,3,4,6]
mylist = list(filter(lambda x: x%2 == 0, a))
print(mylist)

print(reversed(mylist))

7
4
[4, 6, 8, 4, 6]
<list_reverseiterator object at 0x7f061c79e550>

## Day - 4

### 10 - finding palindromes

In [ ]:
mylist = ["aabc", "bbc", "aaaab", "aaabaaa", "nice", "abba"]
#result = list(map(lambda x: (x == "".join(reversed(x))), mylist)) 
result = list(filter(lambda x: (x == "".join(reversed(x))), mylist)) 
print("Palindromes: ",result)

Palindromes:  ['aaabaaa', 'abba']

### 11 - Sort list of dictionaries

In [ ]:
dic = [{'name':'imran', 'cnic':4, 'age':'10'}, {'name':'Adnan', 'cnic':4, 'age':'80'},{'name':'Khan', 'cnic':4, 'age':'99'},{'name':'Ali', 'cnic':1, 'age':'99'},]
sorted = sorted(dic, key = lambda x: x['cnic'])
print("Sorted list based on cnic :\n",sorted)

Sorted list based on cnic :
 [{'name': 'Ali', 'cnic': 1, 'age': '99'}, {'name': 'imran', 'cnic': 4, 'age': '10'}, {'name': 'Adnan', 'cnic': 4, 'age': '80'}, {'name': 'Khan', 'cnic': 4, 'age': '99'}]

### 12 - Find sum of even numbers between a and b if b > a

In [ ]:

from functools import reduce 
def sum(a,b):
    return a + b
def evensum(a,b):
    if b > a:
      a = reduce(sum,[x for x in range(a,b) if x %2 ==0])
      return a
    else: 
      return 0
    
evensum(2,8)

12

### 13 - Convert a list of Celsius into Fahrenheit

In [ ]:
# F = (9/5)*C + 32
temp_c = [10,20,30,40,50]

temp_f = list(map(lambda c: (9/5)*c + 32, temp_c))
print("Temperature in Fahrenheit:\n",temp_f)

Temperature in Fahrenheit:
 [50.0, 68.0, 86.0, 104.0, 122.0]

### 14 - Convert json data into parquet

In [ ]:
import pyarrow
import pyarrow.parquet as pq
import pandas as pd
import json

l = ''.join(sorted)
user_dict = json.loads(l)

# Simply use `DataFrame.from_records`
df = pd.DataFrame.from_records(user_dict)
df

TypeError: ignored

## Day - 5

### 15 - Convert json file into parquet file

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("JsonToParquetPysparkExample") \
    .getOrCreate()

json_df = spark.read.json("grokfile.json", multiLine=True,) 
json_df.printSchema()
json_df.write.parquet("output.parquet")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=3352318b1a1a215b133818d5138cf17cb538806660a8d38e84453013d699123e
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
root
 |-- bytes: string (nullable = true)
 |-- ip: string (nullable = true)
 |-- port: string (nullable = true)
 |-- request: string (nullable = true)
 |-- status: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- uri: string (nullable = true)
 |-- verb: string (nullable = true)

### 16 - special assignment from google python code

In [ ]:
import json
import logging

filename = '11. apache_logs.txt'
 
def dateobject7(filename):
	dict1 = {}
	with open(filename) as fh:
		for line in fh:
			command, description = line.strip().split(None, 1)
			dict1[command] = description.strip()
	out_file = open("test1.json", "w")
	json.dump(dict1, out_file, indent = 4, sort_keys = False)
	out_file.close()

dateobject7(filename)